.notice {
    display: none;
}

.logestechs-settings-page .notice {
    display: block;
}

#wpcontent {
    padding-left: 0;
}
.logestechs-relative {
    position: relative;
}
.logestechs-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 90px;
    height: 70px;
    z-index: 2;
}

.logestechs-header .logestechs-logo-wrapper {
    display: flex;
    align-items: end;
    gap: 18px;
}

.logestechs-logo img {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.logestechs-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 16px 26px 22px 46px;
    background: #FFF;
    border-bottom: 1px solid #E1E3E6;
    position: relative;
}

.logestechs-header .logestechs-primary-text {
    font-family: var(--logestechs-font);
    margin: 0;
    color: #080000;
    font-size: 24px;
    font-weight: 400;
}

.logestechs-header .logestechs-secondary-text {
    font-size: 15px;
    font-family: var(--logestechs-font);
    color: #fff;
    margin: 0;
}

.logestechs-logo-background {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
}

.logestechs-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logestechs-flex span {
    background: #F7685B;
    color: #fff;
    border-radius: 999px;
    padding: 0 10px;
}

.logestechs-action-btn {
    padding-inline: 20px;
    height: 37px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}
.logestechs-action-btn.disabled {
    color: #c5c5c5;
    cursor: auto;
}
.logestechs-action-btn.disabled img {
    filter: contrast(.1);
}

.logestechs-action-btn img, .logestechs-calendar-icon, .logestechs-search-icon {
    width: 20px;
    color: #1e1e1e;
}

.logestechs-filter-input[type=text],
.logestechs-filter-input[type=date] {
    width: 243px;
    height: 37px;
    border: none !important;
    padding: 0 20px;
}

.logestechs-filter-input[type=text] {
    padding-inline-end: 35px;
}

.logestechs-table-head {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.logestechs-calendar-icon, .logestechs-search-icon {
    background: #fff;
    position: absolute;
    top: 8px;
    inset-inline-end: 10px;
}

.logestechs-search-wrapper {
    position: relative;
}

.logestechs-divider {
    width: 1px;
    height: 20px;
    margin-inline: 10px;
    background: #000;
}
.logestechs-selected-text {
    margin-inline-end: 15px;
}
.logestechs-hidden-head {
    display: none;
}

.logestechs-table-wrapper table {
    width: 100%;
    background-color: #fff;
    padding-inline: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--logestechs-font);
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ededed;
}

.logestechs-table-wrapper {
    padding: 0 40px;
}

#logestechs_orders_table th,
#logestechs_orders_table td {
    border: 1px solid #ededed;
    padding: 15px;
    border-right: none;
    border-left: none;
}

#logestechs_orders_table th {
    padding: 20px 0;
    font-weight: bold;
    font-size: 14px;

}

.logestechs-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.logestechs-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    inset-inline-end: 0;
    border: 0.5px solid #eaeaea;
    border-radius: 8px;
    text-align: start;
}

.logestechs-dropdown.visible .logestechs-dropdown-content {
    display: flex;
    flex-direction: column;
}

.logestechs-dropdown-content div {
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 14px 20px;
    font-size: 14px;
    transition: all 300ms ease-in-out;
}

.logestechs-dropdown-content div:hover {
    background: #f3f3f3;
}

.logestechs-cancelled {
    border-radius: 4px;
    background: #B3404A;
    padding: 5px 20px;
    color: #fff;
}

.logestechs-dropdown img {
    height: 12px;
    width: 12px;
    padding: 5px;
}

.logestechs-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.logestechs-pagination-label {
    margin-right: 10px;
}

.logestechs-pagination .page-numbers {
    padding: 8px 13px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
}

.logestechs-pagination .page-numbers {
    color: #3c3c3c;
    margin-inline: 2px;
}

.logestechs-pagination .page-numbers.current {
    background-color: #3c3c3c;
    border: none;
    color: #fff;
}

.hidden {
    display: none !important;
}

.js-logestechs-sort {
    cursor: pointer;
    user-select: none;
}
[dir="rtl"] #wpcontent {
    margin-right: 140px;
}

.logestechs-dropdown-filter {
    position: relative;
    width: 170px;
    margin-inline: auto;
}
.logestechs-dropdown-filter img {
    width: 13px;
    position: absolute;
    inset-inline-end: 12px;
}
.logestechs-status-label {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 2px 9px;
    font-weight: bold;
}
.logestechs-status-dropdown {
    height: 23px;
    padding: 15px 15px 10px 15px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b3b1b1;
    cursor: pointer;
}

.logestechs-status-results {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: normal;
    background-color: #fff;
    padding: 2px 0 10px 0;
    border: 1px solid #e5e1e1;
    border-radius: 5px;
    margin-top: 5px;
}
.logestechs-status-search-wrapper {
    position: relative;
    padding-inline: 10px;
}
.logestechs-status-search-wrapper img {
    position: absolute;
    top: 18px;
    inset-inline-end: 16px;
}
.logestechs-relative {
    position: relative;
}
.logestechs-status-options div {
    padding: 13px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-align: start;
    padding-inline-start: 26px;
}
.logestechs-status-options div:not(:last-child) {
    border-bottom: 1px solid #cfcece;
}
.logestechs-status-options div:hover {
    background-color: #eae8e8;
}

.logestechs-overlaypanel {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1008;
    width: 350px;
    padding: 0;
    background: #fff;
    border: 1px solid #c8c8c8;
  }
  
  .logestechs-content {
    padding: 20px 30px;
  }
  
  .logestechs-form-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  .logestechs-input-item {
    position: relative;
    padding: 12px 5px 10px 50px;
    margin-bottom: 25px;
    border: 1px solid #979797;
  }
  
  .logestechs-input-label {
    position: absolute;
    top: -10px;
    left: 15px;
    background: #fff;
    padding-inline: 10px;
  }
  
  .logestechs-user-icon,
  .logestechs-lock-icon {
    position: absolute;
    top: 12px;
    left: 15px;
    background: #fff;
  }
  
  .logestechs-input {
    width: 100%;
    border: none !important;
  }
  
  .logestechs-forget-pass {
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: right;
    cursor: pointer;
  }
  
  .logestechs-submit-button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background: var(--logestechs-btn-gradient);
    color: #fff;
    cursor: pointer;
  }
  .logestechs-submit-button:disabled {
    background: #c5c5c5;
    cursor: auto;
  }
  
  .logestechs-exit {
    margin-top: 20px;
    text-align: center;
  }
  
  .logestechs-cancel-button {
    width: 78px;
    height: 30px;
    background: #f5f5f5;
    border: none;
    border-radius: 14px;
    color: #f36750;
    cursor: pointer;
  }